

body li{
    margin-top: 30px;
}


#top p{
    font-weight: bold;
    font-size: 20px;
}

.sea{
    text-align: center;
}

.sea h2{
    background-color: aqua;
    width: 100%;
    text-align: center;
}

.kizai{
    text-align: center;
}

.kizai h2{
    background-color: aqua;
    width: 100%;
    text-align: center;
}

.kizai li{
    font-weight: bold;
}

.dive{
    text-align: center;
}

.dive h2{
    background-color: aqua;
    width: 100%;
    text-align: center;
}

#canvas1 {
    border: 1px solid black;
    touch-action: none; 
}

#canvas2 {
    border: 1px solid black;
    touch-action: none; 
}


.sign{
    text-align: center;
}

.sign P{
    font-weight: bold;
}

.memo-photo{
    text-align: center;
}

.memo p{
    margin-top: 50px;
    font-weight: bold;
}

textarea{
    min-width: 500px;
    min-height: 500px;
}

.save{
    text-align: center;
    margin-top: 50px;
}

.save button{
    background-color: red;
    width: 10em;
    height: 5em;
}

input[type="date"],
input[type="text"],
input[type="number"],
input[type="time"],
select {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    text-align: center;
}

/* チェックボックスとそのラベルのスタイル */
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
}

input[type="checkbox"] + label {
    font-size: 14px;
    margin-right: 15px;
    vertical-align: middle;
}

/* ラベルのスタイル */
label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* セクションのスタイル */
.sea, .kizai {
    margin-bottom: 20px;
}

.sea h2, .kizai h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
